.copywidth-custom {
  width: 100px !important;
  font-size: 12px;
  background-color: white;
  border: 1px solid #5225ce33;
  border-radius: 4px;
  color: #5225ce;
  padding: 2px 4px;
}

.copyContainer-custom {
  box-shadow: none;
  border: none;
  top: -50px;
  right: -30px;
  width: 100px !important;
}
