.side-container {
  padding-right: 16px;
  padding-left: 0px;
}
.toggleIcon {
  padding: 30px 30px 0 0;
}

/* Define scrollbar styles */
.sidebar-scroll::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #cccccc; /* Color of the scrollbar thumb */
  /* Round the edges of the thumb */
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Optionally, you can add hover effects */
.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidbar {
  max-width: 500px;
  /* height: 100vh; */
  height: calc(98vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(252, 252, 252, 1) !important;
  direction: ltr;
}

/* Track */
.sidbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sidbar::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
.sidbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.title-custom {
  color: #001b79;
  width: 80%;
  padding: 2px 12px;

  text-align: center;
  border: 0px solid #5225ce33;
  border-radius: 0px 8px 8px 0px;
  font-weight:400;
  font-size: 14px;
  flex-grow: 1;
}

.side-logo {
  max-width: 110px;
  max-height: 40px;
  
  /* margin-top: 34px; */
}

.main-text {
  opacity: 50%;
  font-size: 12px;
  font-weight: 300;
}
.main-content {
  margin-top: 24px;
  margin-bottom: 16px;
  justify-content: start;
}

.side-sections {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px !important;
}

.side-section-container {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  gap: 18px !important;
  /* padding-right: 8px; */
  border: 1px solid transparent;
  border-radius:0px 16px 16px 0px !important;
  transition: ease-in-out;
  transition-delay: 100ms;
  transition-duration: 300ms;
}

.side-section-container:hover {
  background-color: #EBECF4 !important;
 
}

.side-section-container-selected{

  background-color: #EBECF4 !important;

}
.color-red {
  color: red;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;

  /* padding-right: 5px; */
  gap: 8px;
  /* padding: 0px 10px 0px 0px !important; */
}
.color-red:hover .title-custom {
  background-color: #e83939 !important;
  color: white !important;
}
.side-section-container:hover {
  background-color: transparent;
}

@media (min-width: 1023px) {
  .openSideIcon {
    display: none;
  }
  .main-content {
    justify-content: space-between;
  }
}
@media (max-width: 1023px) {
  .side-icon {
    height: 10px;
    width: 10px;
  }
  .side-section-container {
    font-size: 10px !important;
  }
}
/* @media (min-width: 600px) and (max-width: 1023px) {
  
} */

.side-icon {
  height: 18px;
  width: 18px;
}

.openSideIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.userIcon {
  max-height: 100px;
  max-width: 100px;
  position: absolute;
  left: 25%;
  top: -25%;
}

.user-numbers {
  font-family: sans-serif;
  margin-bottom: 10px;
}

.usesection {
  height: 200px;
  max-width: 200px;
  margin-top: 100px;
  padding-top: 66px;
  padding: 66px 16px 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 6px -5px black;
}
.user-button {
  width: 80%;
  border: none;
  border-radius: 50px;
  background: rgb(237, 90, 179);
  background: linear-gradient(
    96deg,
    rgba(237, 90, 179, 1) 0%,
    rgba(0, 27, 121, 1) 100%
  );
  font-size: 13px;
  color: white;
  font-weight: 500;
  padding: 5px;
}

.userData {
  margin-bottom: 10px;
}



.side-section-container:hover .title-custom {
 
  color:   rgba(0, 27, 121, 1);
}
